*,
body,
:root,
body::after,
body::before {
  font-family: "Open sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #03abff;
  --textFont-md: 15px;
  --textFont-sm: 13px;
  --textFont-xsm: 12px;
  --textFont-ssm: 10px;
  --textFont-xssm: 8px;
  --textFont-lg: 18px;
  --textFont-xlg: 20px;
  --textFont-xxlg: 40px;
  --borderLight: rgba(0, 0, 0, 0.1);
  --borderLLight: rgba(0, 0, 0, 0.03);
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.alert {
  color: red;
}
::-webkit-datetime-edit {
  padding: 5px;
}
.photogrid {
  grid-template-areas: "
  1 2
  3 4
  ";
}
button,
i {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
}
.btm {
  /* margin-top: auto; */
  margin: 5px 0;
  width: 80%;
  display: flex !important;
  align-items: center;
}
.alrght {
  margin-left: auto;
}

.avatar {
  overflow: hidden;
  background: var(--borderLight);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.avatar i {
  transform: translateY(20%);
  color: grey;
}
.avtr {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--borderLight);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 15px;
}

.avtr img {
  width: 100%;
}

.avtr i {
  color: grey;
  font-size: 35px;
  transform: translateY(10%);
}
.alrght > i {
  font-size: var(--textFont-sm);
}

.alrght > div {
  border: none !important;
}
.btm {
  font-size: var(--textFont-ssm);
}
.btm p {
  font-size: var(--textFont-xsm);
}

.colorP {
  color: var(--primaryColor);
}
.mContainer {
  min-width: 250px;
}
.mContainer .btm {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  border-bottom: 1px solid var(--borderLight);
}
.avatar img {
  width: 100;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
